<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onRefreshClicked()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <ion-button (click)="onVoegHuidigeLocatieToeClicked()">Huidige locatie toevoegen</ion-button>
  </div>

  <div *ngFor="let line of log">
    {{ line }}
  </div>

</ion-content>
